* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}

::root {
  font-size: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
}

.content {
  height: 100%;
  overflow: hidden;
}

.content__page {
  display: none;
  height: 100%;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;

  transition: transform 0.4s, opacity 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.content__page_active {
  display: grid;
}

.content__page_wrapped {
  position: absolute;
  transform: translate3d(0px, 30vh, 0px) scale(0.9);
  z-index: 10;
}

.content__page_wrapped::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transform: scaleX(0.95) translateY(-5%);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
